
.center-part .center{
	color: #fff;
	margin: 0% 25%;
	width: 50%;
	border: 1px solid rgb(1,135,74);
	background-color: rgb(1,135,74);
	padding: 5px;
	border-radius: 15px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	
}
.center h3{
	margin: 5px;
}
.center p{
	color: rgb(1,135,74);
	margin: 4px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 2px;
	font-size: 15px;
}
.center .input100{
	width: 60%;
	font-size: 17px;
	border-radius: 4px;
	margin: 1%;
}
.submitBtn{
	width: 60%;
	font-size: 17px;
	border-radius: 4px;
	margin: 3%;
	background-color: #fff;
	color: rgb(1,135,74);
	font-family: 'Montserrat', sans-serif;
}

#cont{
	width: 500px;
	height: 800px;
}

@media(max-width: 810px) and (min-width: 640px){
	.center .input100{
		font-size: 13px;
	}
	.submitBtn{
		font-size: 13px;
	}
	.center h3{
		font-size: 16px;
	}
	.center p{
		font-size: 12px;
	}
}
@media(max-width: 640px){
	.center .input100{
		font-size: 10px;
	}
	.submitBtn{
		font-size: 10px;
	}
	.center h3{
		font-size: 13px;
	}
	.center p{
		font-size: 9px;
	}

}

