
.center-part .center{
	color: #fff;
	margin: 0% 25%;
	width: 50%;
	border: 1px solid rgb(1,135,74);
	background-color: rgb(1,135,74);
	border-radius: 15px;
	padding: 15px;
}
.center h3{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	margin: 5px;
	margin-bottom: 15px;
}
.center .info{
	border: 2px solid #fff;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
	
}
.infoName, .infoDate{
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	margin: 7px 4px;
	color: rgb(1,135,74);
	font-weight: 500;
}
#cont{
	width: 500px;
	height: 800px;
}

@media(max-width: 810px) and (min-width: 640px){
	.center h3{
		font-size: 19px;
	}
	.infoName, .infoDate{
		font-size: 13px;
	}
}
@media(max-width: 640px){
	.center h3{
		font-size: 15px;
	}
	.infoName, .infoDate{
		font-size: 9px;
	}

}

