
.center-part .center{
	color: #fff;
	margin: 0 auto;
	padding: 15px;
	width: 30%;
	border: 1px solid rgb(1,135,74);
	background-color: rgb(1,135,74);
	text-align: center;
	border-radius: 5px;
}

.center h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
}
.center .input100{
	width: 60%;
	font-size: 17px;
	border-radius: 4px;
	margin: 1%;
}
.loginBtn{
	width: 60%;
	font-size: 17px;
	border-radius: 4px;
	margin: 3%;
	background-color: #fff;
	color: rgb(1,135,74);
	font-family: 'Montserrat', sans-serif;
}
.center a{
	color: #fff;
}


@media(max-width: 810px) and (min-width: 640px){
	.center h3{
		font-size: 22px;
	}
	.center .input100{
		font-size: 14px;
	}
	.loginBtn{
		font-size: 13px;
	}
	.center a{
		font-size: 14px;
	}
	
}
@media(max-width: 640px){
	.center h3{
		font-size: 18px;
	}
	.center .input100{
		font-size: 11px;
	}
	.loginBtn{
		font-size: 10px;
	}
	.center a{
		font-size: 11px;
	}

}

