
.center-part .center{
	color: #fff;
	margin: 0% 25%;
	width: 50%;
	border: 1px solid rgb(1,135,74);
	background-color: rgb(1,135,74);
	border-radius: 15px;
	padding: 15px;
}
.center h3{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	margin: 5px;
	margin-bottom: 15px;
}
.center .basket_part{
	border: 2px solid #fff;
	border-radius: 5px;
	padding: 10px;
	background-color: #fff;
	
}


.drugInfo{
	border: 1px solid rgb(1,135,74);
	background-color: rgb(1,135,74);
	border-radius: 3px;
	padding: 10px;
	margin: 5px;
}
.drugName, .drugCost{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #fff;
}
.drugName{
	
}
.drugCost{
	margin-left: 5px;
}
.buy{
	float: right;
	font-size: 15px;
	border-radius: 3px;
	background-color: #fff;
	color: rgb(1,135,74);
	font-family: 'Montserrat', sans-serif;
}

#cont{
	width: 500px;
	height: 800px;
}

@media(max-width: 810px) and (min-width: 640px){
	.center h3{
		font-size: 20px;
	}
	.drugName, .drugCost{
		font-size: 12px;
	}
	.buy{
		font-size: 12px;
	}
	.center .basket_part{
		padding: 8px;
	}
	.drugInfo{
		margin:3px;
		padding: 8px;
	}
}
@media(max-width: 640px){
	.center h3{
		font-size: 12px;
	}
	.drugName, .drugCost{
		font-size: 9px;
	}
	.buy{
		font-size: 9px;
	}
	.center .basket_part{
		padding: 6px;
	}
	.drugInfo{
		margin:1px;
		padding: 6px;
	}

}

