
.center-part .center{
	border-radius: 15px;
	color: #fff;
	margin: 0% 25%;
	width: 50%;
	border: 1px solid rgb(1,135,74);
	background-color: rgb(1,135,74);
}
.center-part .center .center-top{
	display: flex;
	margin: 10px;
}
#apteka_photo{
	height: 250px;
}
.infoAboutFarm{
	margin: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
.infoAboutFarm h3{
	font-size: 20px;
	margin: 5px;
}
.center-bottom img{
	margin: 2%;
}

#cont{
	width: 500px;
	height: 800px;
}

@media(max-width: 810px) and (min-width: 640px){
	.center-part .center .center-top{
		display: inline;
	}
	.center-part .center{
		text-align: center;
	}
	#apteka_photo{
		height: 200px;
		margin: 10px;
		border-radius: 3px;
	}
	.center-bottom img{
		width: 30%;
	}
	.infoAboutFarm{
		font-size: 12px;
	}
	.infoAboutFarm h3{
		font-size: 17px;
	}
}
@media(max-width: 1000px) and (min-width: 810px){
	.center-part .center .center-top{
		display: inline;
	}
	.center-part .center{
		text-align: center;
	}
	#apteka_photo{
		margin: 10px;
		border-radius: 3px;
	}
	
}
@media(max-width: 640px){
	.center-part .center .center-top{
		display: inline;
	}
	.center-part .center{
		text-align: center;
	}
	#apteka_photo{
		height: 150px;
		margin: 7px;
		border-radius: 2px;
	}
	.center-bottom img{
		width: 30%;
	}
	.infoAboutFarm{
		font-size: 9px;
	}
	.infoAboutFarm h3{
		font-size: 14px;
	}

}

