
.center-part .center{
	margin: 0% 25%;
	padding: 15px;
	width: 50%;
	border: 1px solid rgb(1,135,74);
	background-color: rgb(1,135,74);
	border-radius: 5px;
}

.search_part{
	margin: 5px;
	margin-left: 22%;
	margin-bottom: 10px;

}
#searchIn{
	width: 60%;
	border-radius: 5px;
	font-size: 18px;
}
#searchBot{
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fff;
	font-size: 18px;
	background-color: rgb(1,135,74);
}
#searchBot:hover{
	color: rgb(1,135,74);
	background-color:#fff;
}

.drugResult{
	border: 2px solid #fff;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
}

.drugInfo{
	border: 1px solid rgb(1,135,74);
	background-color: rgb(1,135,74);
	border-radius: 3px;
	padding: 10px;
	margin: 5px;
}
.drugName, .drugCost{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #fff;
}
.drugName{
	
}
.drugCost{
	margin-left: 5px;
}
.addToBasket{
	float: right;
	font-size: 15px;
	border-radius: 3px;
	background-color: #fff;
	color: rgb(1,135,74);
	font-family: 'Montserrat', sans-serif;
}


@media(max-width: 810px) and (min-width: 640px){
	#searchBot, #searchIn{
		font-size: 15px;
	}
	.drugName, .drugCost{
		font-size: 12px;
	}
	.addToBasket{
		font-size: 12px;
	}
	.drugResult{
		padding: 8px;
	}
	.drugInfo{
		margin:3px;
		padding: 8px;
	}
}
@media(max-width: 640px){
	#searchBot, #searchIn{
		font-size: 12px;
	}
	.drugName, .drugCost{
		font-size: 9px;
	}
	.addToBasket{
		font-size: 9px;
	}
	.drugResult{
		padding: 6px;
	}
	.drugInfo{
		margin:1px;
		padding: 6px;
	}

}

